@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 6vw;
}

header p {
    padding-bottom: 50px;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 2vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    color: white;
    background-color: gray;
    box-shadow: inset 6px 6px 8px 0px rgba(0, 0, 0, 0.555);
    background-attachment: fixed
}

#i1{
    background-image: url(imagens/background001.jpg);
    background-position: right center ;
    background-size: cover;
    
}

#i2{
    background-image: url(imagens/background002.jpg);
    background-position: bottom center;
    background-size: cover;

}
section > p{
    padding-bottom: 2em;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.651);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}